.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #f51818;
  color: white;
  height: 6em;
  flex-wrap: wrap;
}

.header-title{
  font-size: 2em;
  margin: 0px;
}

.header-subtitle{
  font-size: 1em;
  margin: 0px;
  padding-left: 0.5em;
  padding-top: 1.5em;
}
